#main
    #auth.panel.panel-default
        .panel-heading
            h4 Authorization
        .panel-body
            form(name="auth_form" novalidate)
                .form-group
                    label Session ID
                    input(type="text", data-ng-model="$$as.sessionId", required).form-control

                button(data-ng-click="setSessionId()", data-ng-disabled="auth_form.$invalid").btn.btn-primary.btn-lg Add Session Id


