.panel.panel-default
    .panel-heading
        button.btn.btn-primary Add
    .panel-body
        table.table.table-hover.table-condensed
            thead
                tr
                    th Name
                    th Email
                    th Username
                    th V1 ID
                    th V2 UUID
                    th Roles
