node_modules
target
.DS_Store
builtAssets
.s3creds
.monitor
*.esproj
.idea
*.iml
*.ipr
*.iws
npm-debug.log
.foreman
Procfile-dev
.env
output.txt
cache
assets/vendor
nodemon.json
.sonar
coverage
reports
Procfile-debug
nodemon.json
public/components/
temp.*
